* {
    font-family: 'Courier New', monospace;
    font-weight: bold;
    margin: 0px;
    /* font-family: 'Angkor', cursive; */
    /* font-family: 'Creepster', cursive; */
    /* font-family: 'Lilita One', cursive; */
    /* font-family: 'Reem Kufi Fun', sans-serif; */
    font-family: 'Mynerve', cursive;
}

/* background-color: #e5e7eb; */

/* header section */

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
    margin: 0px;
    background-color: #5f99af;
}

.logo {
    width: 150px;
    height: auto;
    background-color: #003e52;
    padding: 20px;
    border-radius: 8px;
}

.title-container {
    background-color: #003e52;
    padding: 20px;
    border-radius: 8px;
    margin: auto;
}

.title {
    color: white;
    font-size: 48px;
    padding: 12px;
    text-align: center;
}

/* end of header section */


/* record section */

.record {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 150px;
    height: 200px;
    background-color: #003e52;
}

.btn_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin: 0px;
}

.record_btn {
    width: 100px;
    height: auto;
    border-radius: 12px;
    border: none;
}

.start {
    background-color: lightgreen;
}

.stop{
    background-color: lightcoral;
}

.start:hover {
    background-color: green;
}

.stop:hover {
    background-color: red;
}

.triangle {
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-left: 30px solid white;
	border-bottom: 15px solid transparent;
    margin: auto;
    margin-top: 12px;
    margin-bottom: 12px;
}

.square {
    height: 30px;
    width: 30px;
    background-color: white;
    margin: auto;
    margin-top: 12px;
    margin-bottom: 12px;
}

/* end of record section */


/* transcribe section */

.transcribe {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    height: 250px;
    background-color: #5f99af;
}

::file-selector-button {
    font-family: 'Courier New', monospace;
    font-weight: bold;
    border: none;
    border-radius: 4px;
}

/* end of transcribe section */


/* replace section */

/* end of replace section */


/* footer section */

/* end of footer section */


/* speech-bubble section */

.speech-bubble-left {
    display: inline-block;
    background: #efefef;
    border: 1px solid #a7a7a7;
    border-radius: 8px;
    box-shadow: -4px 4px 0 rgba(0, 0, 0, 0.2);
    line-height: 1.3;
    margin: 30px;
    max-width: 400px;
    padding: 15px;
    position: relative;
    p {
        margin-bottom: 10px;
        :last-of-type {
            margin-bottom: 0;
        }
    }
}

.speech-bubble-arrow-left {
    border-right: 21px solid transparent;
    border-top: 20px solid rgba(0, 0, 0, 0.2);
    bottom: -25px;
    position: absolute;
    left: 15px;
    &::before {
        border-right: 23px solid transparent;
        border-top: 23px solid #a7a7a7;
        bottom: 2px;
        content: "";
        position: absolute;
        left: 5px;
    }
    &::after {
        border-right: 21px solid transparent;
        border-top: 21px solid #efefef;
        bottom: 5px;
        content: "";
        position: absolute;
        left: 6px;
    }
}

.speech-bubble-right {
    display: inline-block;
    background: #efefef;
    border: 1px solid #a7a7a7;
    border-radius: 8px;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
    line-height: 1.3;
    margin: 30px;
    max-width: 400px;
    padding: 15px;
    position: relative;
    p {
        margin-bottom: 10px;
        :last-of-type {
            margin-bottom: 0;
        }
    }
}

.speech-bubble-arrow-right {
    border-left: 21px solid transparent;
    border-top: 20px solid rgba(0, 0, 0, 0.2);
    bottom: -25px;
    position: absolute;
    right: 15px;
    &::before {
        border-left: 23px solid transparent;
        border-top: 23px solid #a7a7a7;
        bottom: 2px;
        content: "";
        position: absolute;
        right: 5px;
    }
    &::after {
        border-left: 21px solid transparent;
        border-top: 21px solid #efefef;
        bottom: 5px;
        content: "";
        position: absolute;
        right: 6px;
    }
}

.bubble-text {
    font-size: 30px;
    text-align: center;
}

.dark {
    color: #003e52;
}

.light {
    color: #5f99af;
}

/* end of speech-bubble section */

.scare {
    font-family: 'Creepster', cursive;
    font-size: 40px;
}