<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Audio Shop</title>
</head>
<body>
    <div class="header">
        <a href="https://energyhardware.com/"><img src="{{ url_for('static', filename= 'img/eh_logo.png') }}" alt="Energy Hardware company logo" class="logo"></a>
        <div class="title-container"><h1 class="title">The One-Stop Audio Shop</h1></div>
    </div>
    <div class="record">
        <form action="{{ url_for('start')}}" method="POST">
            <button name="start_btn" type="submit"><div class="triangle"></div></button>
        </form>
        <form action="{{ url_for('stop')}}" method="POST">
            <button name="stop_btn" type="submit"><div class="square"></div></button>
        </form>
    </div>
    <div class="transcribe">
        <form method="POST" action="{{ url_for('convert')}}" enctype="multipart/form-data">
            <input type="file" name="file">
            <select name="number">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
            <button type="submit">Transcribe</button>
        </form>
    </div>
    <div class="replace">
        <form method="POST" action="{{ url_for('get_speakers')}}" enctype="multipart/form-data">
            <select name="number">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
            <button type="submit">Submit</button>
        </form>
        {% if num_speakers != "" %}
            <h1>Speakers</h1>
            <form method="POST" action="{{ url_for('update')}}" enctype="multipart/form-data">
                <input type="file" name="file">
                {% for num in range(1, num_speakers + 1) %}
                    {% set tag = 'SPEAKER_' + num|string %}
                    <input name={{ num }} placeholder={{ tag }}>
                {% endfor %}
                <button type="submit">Replace</button>
            </form>            
        {% endif %}
    </div>
    <div class="speech-bubble">
        <p><strong>Demo speech bubble</strong></p>
        <p>This is CSS speech bubble with borders and drop shadow.</p>
        <div class="speech-bubble-arrow"></div>
    </div>
</body>
</html>