<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Shop</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Angkor&family=Creepster&family=Lilita+One&family=Mynerve&family=Reem+Kufi+Fun&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <a href="https://energyhardware.com/"><img src="{{ url_for('static', filename= 'img/eh_logo.png') }}" alt="Energy Hardware company logo" class="logo"></a>
        <div class="title-container"><h1 class="title">The One-Stop Audio Shop</h1></div>
    </div>
    <div class="record">
        <div class="speech-bubble-left">
            <p class="light bubble-text">Record some audio!</p>
            <div class="speech-bubble-arrow-left"></div>
        </div>
        <div class="btn_container">
            <form action="{{ url_for('start')}}" method="POST">
                <button name="start_btn" type="submit" class="start record_btn"><div class="triangle"></div></button>
            </form>
            <form action="{{ url_for('stop')}}" method="POST">
                <button name="stop_btn" type="submit" class="stop record_btn"><div class="square"></div></button>
            </form>
        </div>
    </div>
    <div class="transcribe">
        <form method="POST" action="{{ url_for('convert')}}" enctype="multipart/form-data">
            <input type="file" name="file">
            <select name="number">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
            <button type="submit">Transcribe</button>
        </form>
        <div class="speech-bubble-right">
            <p class="dark bubble-text">Upload an audio file to be <span class="scare">transcribed</span></p>
            <div class="speech-bubble-arrow-right"></div>
        </div>
    </div>
    <div class="replace">
        <form method="POST" action="{{ url_for('get_speakers')}}" enctype="multipart/form-data">
            <select name="number">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
            <button type="submit">Submit</button>
        </form>
        {% if num_speakers != "" %}
            <h1>Speakers</h1>
            <form method="POST" action="{{ url_for('update')}}" enctype="multipart/form-data">
                <input type="file" name="file">
                {% for num in range(1, num_speakers + 1) %}
                    {% set tag = 'SPEAKER_' + num|string %}
                    <input name={{ num }} placeholder={{ tag }}>
                {% endfor %}
                <button type="submit">Replace</button>
            </form>            
        {% endif %}
    </div>
</body>
</html>